/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}


/* tag semantici */
header {
background-color: orange;
padding:4px;
margin-bottom:70px;
}

main {
    width:60%;
    margin:0 auto;
}




/* tag singoli */

.lorem-ipsum {
    margin-bottom:35px;
}


/* classi */

.inlin{
    display:inline;
    margin-left:550px;
}

.titolo {
    text-align: center;
    margin-bottom:30px;
    color:rgb(229, 49, 112);
}

.flex-container {
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 250px;
    height:70px;
    display:flex;
    background-color: black;
}

.text-white {
    color:white;
}

.text-bold {
    font-weight:bolder;
}

.font-size-13{
    font-size:13px;
}

.underline {
    text-decoration: none;
}

.text-blue {
    color:rgb(11, 122, 197);
}

.text-center{
    text-align:center;
}


.card-content{
    margin-left:13px;
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}


.fit-image {
  width: 55px;
  height: 70px;
  object-fit: cover;
}